---
import { Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { formatDate } from "~/lib/utils/date";
import ResourcesAdd from "~/assets/svgs/resources-add.astro";
import Time04 from "~/assets/svgs/time-04.astro";
import Calendar04 from "~/assets/svgs/calendar-04.astro";
import Divider from "~/components/bases/divider.astro";
import { categoriesHandler } from "~/lib/handlers/categories";
import { getDateDistance } from "~/lib/utils/date";

type Props = {
  article: CollectionEntry<"articles">;
};

const { article } = Astro.props;

const category = categoriesHandler.oneCategory(article.data.category.id);
---

<section
  class="article-header flex flex-col lg:flex-col-reverse items-center justify-center border-b lg:border-none pb-2 pt-0 lg:pt-6"
>
  <div
    class="container px-0 lg:px-4 max-w-5xl aspect-[20/9] lg:mt-4 overflow-hidden"
  >
    <Picture
      src={article.data.cover}
      width={2070}
      height={1380}
      alt="article"
      layout="full-width"
      decoding={"async"}
      loading={"lazy"}
      formats={["avif", "webp"]}
      class="w-full h-full object-cover"
    />
  </div>
  <div class="container my-4 lg:hidden flex items-center gap-2">
    <ResourcesAdd size="16" />
    <a href={`/categories/${category.data.slug}`} class="a-01 font-semibold"
      >{category.data.title}</a
    >
  </div>
  <div class="container max-w-5xl">
    <h1 class="text-3xl lg:text-4xl font-bold text-left text-pretty">
      {article.data.title}
    </h1>
    <h3 class="text-2xl text-left text-pretty" style="font-style: italic;">
      {article.data.description}
    </h3>
    <div class="flex flex-col gap-4 items-start mt-2 lg:mt-6 text-sm">
      <div class="text-base-content/70 flex items-center gap-2">
        <span class="lg:flex items-center gap-1 hidden">
          <ResourcesAdd size="15" />
          <a href={`/categories/${category.id}`} class="a-01 font-semibold"
            >{category.data.title}</a
          >
        </span>
        <div class="hidden lg:block">
          <Divider />
        </div>
        <span class="flex items-center gap-1">
          <Calendar04 size="15" />
          <time class="hidden lg:block" datetime={article.data.postedAt}
            >{formatDate(article.data.postedAt, "long")}</time
          >
          <time class="block lg:hidden" datetime={article.data.postedAt}
            >{formatDate(article.data.postedAt, "short")}</time
          >
        </span>
        <Divider />
        <span class="flex items-center gap-1">
          <Time04 size="15" />
          <span>{getDateDistance(article.data.postedAt)}</span>
        </span>
      </div>
    </div>
  </div>
</section>
